<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas</title>
</head>
<body>
    <h3>¿Por qué es una buena práctica usar JavaScript para checar que sean válidos los inputs de las formas antes de enviar los datos al servidor?</h3>
    <p>Es una buena practica debido a que de esta manera minimizamos errores no deseados y limitamos las opciones que tienen los usuarios.</p>
    <h3>¿Cómo puedes saltarte la seguridad de validaciones hechas con JavaScript?</h3>
    <p>Desactivando el JavaScript en el navegador.</p>
    <h3>Si te puedes saltar la seguridad de las validaciones de JavaScript, entonces ¿por qué la primera pregunta dice que es una buena práctica?</h3>
    <p>Es buena practica validarlo igualmente del lado del cliente para que se pueda complementar con la del servidor.</p>

    <h3>Referencias</h3>
    <a href="https://www.enable-javascript.com/es/#:~:text=JavaScript%20permite%20crear%20funcionalidades%20específicas,quedar%20limitada%20o%20no%20disponible.">https://www.enable-javascript.com/es/#:~:text=JavaScript%20permite%20crear%20funcionalidades%20específicas,quedar%20limitada%20o%20no%20disponible.</a> <br>
    <a href="https://developer.mozilla.org/es/docs/Learn/Forms/Form_validationhttps://developer.mozilla.org/es/docs/Learn/Forms/Form_validation">https://developer.mozilla.org/es/docs/Learn/Forms/Form_validation</a>

</body>
</html>